<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
  <title>Movie Box</title>
  <link rel = "icon" href = 
"" 
        type = "image/x-icon">
  
   

</head>
<body id="formatting">
 <!-- <h6 style="font-family: Arial, Helvetica, sans-serif;">SEE WHAT IS NEXT FOR YOU</h6>
 <h4 style>Let's explore the world of movies and hop inside?What are you waiting for </h4>
 <a class="btn btn-primary" target="_blank" href="{{trailerURL}}" role="button">GET STARTED </a> -->
  <div>
    <header class="header">
        <a href="#" class="logo"><img src="static\mbox-logo.png" alt="" style="width:90px" ></a>
        <button class="header__btn_open-topnav header__btn"><span class="icon-menu-open"></span></button>
        <ul class="topnav topnav_mobile_show">
          <button class="header__btn_close-topnav header__btn"><span class="icon-menu-close"></span></button>
          <li class="topnav__item">
            <a href="register" class="topnav__link">Login</a>
          </li>
          <li class="topnav__item">
            <a href="signup" class="topnav__link">SignUp</a>
          </li>
        
		
         
          

        </ul>
      </header>
      <div class="box sombra">
        <center>
      Let Us See What Is For You  Inside  ,
      Come and explore the MOVIE BOX and deep dive in the world of Movies!!!!
      <br>



      <a class="btn btn-primary" target="_blank" href="signup" role="button" style="color:chocolate">GET STARTED</a>
      </center>
    
      </div>



	  <!-- <p class="lead"><font color="black"><strong> See What is Next for you!<br/> Come explore the Movie Box and Deep dive in the world of movies!!!!!!!! <br/><br/><font color="navy"></strong></p> -->
      
      
<!-- </div>
<div>
    <div class="footer">
        <ul>
          <li><a href="https://acehacker.com/microsoft/engage2022/" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
          <li><a href="https://acehacker.com/microsoft/engage2022/" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li><a href="https://acehacker.com/microsoft/engage2022//" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
          <li><a href="https://acehacker.com/microsoft/engage2022/" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
          <li><a href="https://acehacker.com/microsoft/engage2022/" target="_blank"><i class="fa fa-codepen fa-fw"></i></a></li>
          
          

        </ul>
        <p>Made with <i class="fa fa-heart fa-fw fa-lg"></i> by Harshita Gupta</p>
      </div>
    </div> -->


</body>
</html>