<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="results">
        <center>
          <h2 id="name" class="text-uppercase">Mega Hits</h2>
          <div class="container">
            <div class="popcard">
              <div
                class="card"
                style="width: 15rem"
                title="IRON MAN"
                onclick="recommendcard(this)"
              >
                <div class="imghvr">
                  <img
                    class="card-img-top"
                    height="360"
                    width="240"
                    alt="IRON MAN - poster"
                    src="https://image.tmdb.org/t/p/original/qhPtAc1TKbMPqNvcdXSOn9Bn7hZ.jpg"
                  />
                  <figcaption class="fig">
                    <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title="INTERSTELLAR" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt="INTERSTELLAR - poster" src="https://image.tmdb.org/t/p/original/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg />
              <figcaption class="fig">
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title="DARK KNIGHT" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt="DARK KNIGHT- poster" src="https://image.tmdb.org/t/p/original/qJ2tW6WMUDux911r6m7haRef0WH.jpg" />
              <figcaption class="fig">
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title="BACK TO THE FUTURE" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt="BACK TO THE FUTURE - poster" src="https://image.tmdb.org/t/p/original/7lyBcpYB0Qt8gYhXYaEZUNlNQAv.jpg" />
              <figcaption class="fig">
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title="FIGHT CLUB" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt="FIGHT CLUB - poster" src="https://image.tmdb.org/t/p/original/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg" />
              <figcaption class="fig">
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title="LORD OF THE RINGS" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt="LORD OF THE RINGS - poster" src="https://image.tmdb.org/t/p/original/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg" />
              <figcaption class="fig">
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title="SE7EN" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt="THE EMPIRE STRIKES BACK - poster" src="https://image.tmdb.org/t/p/original/69Sns8WoET6CfaYlIkHbla4l7nC.jpg" />
              <figcaption class="fig">
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title="SHAWSHANK REDEMPTION" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt="SHAWSHANK REDEMPTION - poster" src="https://image.tmdb.org/t/p/original/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg" />
              <figcaption class="fig">
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title="STAR WARS" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt="STAR WARS - poster" src="https://image.tmdb.org/t/p/original/6wkfovpn7Eq8dYNKaG5PY3q2oq6.jpg" />
              <figcaption class="fig">
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title="FOREST GUMP" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt="FOREST GUMP- poster" src="https://image.tmdb.org/t/p/original/saHP97rTPS5eLmrLQEcANmKrsFl.jpg" />
              <figcaption class="fig">
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      <div class="card" style="width: 15rem" title=" THE GODFATHER" onclick="recommendcard(this)">
          <div class="imghvr">
              <img class="card-img-top" height="360" width="240" alt=" THE GODFATHER - poster" src="https://image.tmdb.org/t/p/original/3bhkrj58Vtu7enYsRolD1fZdja1.jpg
                  <button class="card-btn btn btn-danger">Click Me</button>
              </figcaption>
          </div>
      </div>
      </div>
      </div>
      </center>
      </div>
</body>
</html>